body {
  padding: 0;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;

}

.container {
  width: 85%;
  margin: auto;
}

.banner {
  background-image: url(../image/background\ sec-.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 0;
}

#left_slogn {
  font-size: 20px;
  margin-top: -270px;
  margin-left: 230px;
  font-family: "Sofia", Sans-serif;
  font-weight: bold;

}

#nav_sec ul {
  list-style: none;
  display: flex;
  margin-left: 400px;
  margin-top: -37px;
}

#nav_sec ul li {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 15px;
}
#nav_right {
  display: flex;
  margin-left: 250px;
  margin-top: -20px;
}

#nav_sec {
  display: flex;

}

#site_butn1 {
  background-color: #96BB7C;
  border-radius: 4px;
  width: 30%;
  padding: 15px 30px;
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 14px;
}

#site_butn1 a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  border-style: none;
  text-align: center;
  width: 40%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#login {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #96BB7C;
}

#online {
  color: #96BB7C;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 35px;
  font-weight: bold;
}

#courses {
  font-family: "Montserrat", 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  width: 90%;

}

#everyday {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
  width: 70%;
  line-height: 25px;
}

#left_con {
  margin-top: 150px;
  margin-left: 200px;

}

#content {
  display: flex;
}

#boy img {
  max-width: 65%;
  margin-left: 300px;

}

#pics {
  display: flex;
}

#site_butn {
  background-color: #96BB7C;
  border-radius: 4px;
  width: 30%;
  padding: 11px 2px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 14px;
}

#site_butn a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  border-style: none;
  text-align: center;
  width: 40%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

#site_butn3 {
  background-color: white;

  width: 30%;
  padding: 11px 2px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 14px;


}

#site_butn3 a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  color: #96BB7C;
  border-color: #96BB7C;
  border: 1px solid;
  text-align: center;
  width: 40%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 13px;

}

#site {
  display: flex;
}

#practice {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #96BB7C;
  margin-bottom: 40px;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  #practice{
   font-size: 19px;
margin-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  #right_side{
  }
}
#heading {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  width: 90%;
  font-weight: bold;

}

#para {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;

  line-height: 25px;
  margin-bottom: 130px;
}

#top {
  margin-left: 130px;
}

#training h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  #training h1{
   font-size: 23px;

  }
}

#paragraph p {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 25px;
  padding: 20px;
  margin-left: 20px;

}
@media screen and (max-width: 768px) {
  #paragraph p{
   font-size: 19px;

  }
}
#inner_block {
  border: 1px solid;
  width: 23%;
  color: #7a7a7a;
}
@media screen and (max-width: 768px) {
  #inner_block {
   
  width: 100%;
margin-bottom: 20px;
  }
}

#blocks {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #blocks {
    display: flex;
    flex-direction: column;
    
  }
}

#line {
  background-color: red;
  height: 3px;
  width: 65px;
  margin-left: 40px;
}

#inner_block3 {
  background-color: #96BB7C;
  border: 1px solid;
  width: 23%;
  color: #7a7a7a;
}
@media screen and (max-width: 768px) {
  #inner_block3 {
   
  width: 100%;
  margin-bottom: 20px;
  }
}

#line3 {
  background-color: white;
  height: 3px;
  width: 65px;
  margin-left: 40px;
}

#paragraph3 p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 25px;
  padding: 20px;
  margin-left: 20px;

}
@media screen and (max-width: 768px) {
  #paragraph3 p {
   
  font-size: 19px;
  
  }
}

#training3 h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  #training3 h1{
   
  font-size: 23px;
  
  }
}

#picture {
  margin-top: 20px;
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  #picture {
  margin-left: 170px;
    }
  }
@media screen and (max-width: 768px) {
#picture img {
 max-width: 40%;
   
  width: 80%;
  
  }
}
#sec_3 {
  margin-top: 170px;
}

#line4 {
  background-color: red;
  height: 10px;
  width: 15%;
  margin-left: 400px;
  margin-bottom: 30px;

}

#sec_inn {
  display: flex;

}
@media screen and (max-width: 768px) {
  #sec_inn {
    display: flex;
    flex-direction: column;

  }
}

#quality {
  font-family: "Montserrat", 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-left: 400px;
  width: 50%;
}

#parag p {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin-left: 400px;
  width: 40%;
  margin-top: 50px;
  font-weight: bold;
}

#left_side img {
  max-width: 180%;

}

#site_butn4 a {
  text-decoration: none;
  font-size: 16px;
  color: #96BB7C;
  border-style: none;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 400px;

}

#site_butn4 {
  margin-top: 50px;
}

#line5 {
  background-color: red;
  height: 10px;
  width: 15%;
  margin-bottom: 30px;

}

#pkg {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#paragr p {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  width: 40%;
  margin-top: 50px;
  font-weight: bold;
}

#site_butn5 a {
  text-decoration: none;
  font-size: 16px;
  color: #96BB7C;
  border-style: none;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;


}

#site_butn5 {
  margin-top: 50px;
}

#sec_5 {
  margin-top: 100px;
}

#inner_sec5 {
  display: flex;
}
@media screen and (max-width: 768px) {
  #inner_sec5 {
    display: flex;
    flex-direction: column;

  }
}

#left5 {
  width: 45%;
}

#right5 {
  width: 45%;
  margin-left: 120px;
}

#course {
  text-decoration: none;
  font-size: 11px;
  color: #96BB7C;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#pop_cou {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#paragra {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  width: 60%;
  margin-top: 30px;
  font-weight: bold;
}

#sec_6 {
  margin-top: 130px;
}

#images {
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  #images {
    display: flex;
    flex-direction: column;

  }
}

#block {
  width: 23%;
}

#sec_7 {
  margin-top: 130px;
}

#block2 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  #block2 {
    display: flex;
    flex-direction: column;

  }
}

#sec_8 {
  margin-top: 130px;
}

#fb1 {
  border: 1px solid;
  width: 45%;
  color: white;
}
#feedback {
  justify-content: space-between;
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  #feedback {
    display: flex;
    flex-direction: column;

  }
}
#fb_text {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  width: 60%;
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
}

#stars {
  margin-top: 20px;
  text-align: center;
}

#name h3 {
  font-weight: bold;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#name {
  margin-left: 20px;
  margin-top: 20px;
}

#fb_img {
  margin-left: 190px;
}

#design {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 10px;
  text-align: center;
}

#sec_9 {
  background-color: #FFF2F3;
  margin-top: 80px;
  height: 600px;
}

#news h1 {
  text-decoration: none;
  font-size: 13px;
  color: #96BB7C;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

#our_experts h1 {
  font-weight: bold;
  font-size: 30px;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#paragrap {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 25px;
  width: 35%;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 390px;
}

#inner9 {
  padding-top: 150px;
}

#email {
  margin-top: 80px;
  margin-left: 350px;
  margin-bottom: 100px;
}

#email img {
  max-width: 60%;
}

#headings h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
}

#headings {
  margin-left: 45px;
}

#list ul {
  list-style: none;

}

#list ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #7a7a7a;
  padding: 7px;
}

#inner_sec10 {
  display: flex;

}

#box {
  width: 20%;
}

#sec_10 {
  margin-top: 50px;
}

#last_sec {
  display: flex;
  padding: 20px;
}

#text {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 190px;
}

#sec_11 {
  background-color: #FAFAFA;
  margin-top: 10px;
}

#text_img {
  margin-left: 250px;
}